@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

/* || VARIABLES */
:root {
  /* COLORS */
  --clr-almost-white: hsl(0, 0%, 98%);
  --clr-medium-gray: hsl(0, 0%, 41%);
  --clr-almost-black: hsl(0, 0%, 8%);

  /* FONTS */
  --ff-epilogue: "Epilogue", sans-serif;
}

/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* || UTITLITIES CLASSES */
.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
html {
  font-family: var(--ff-epilogue);
}

body {
  min-height: 100vh;
  background-color: var(--clr-almost-white);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  column-gap: 3.85rem;
  padding: 1.4rem 2.5rem;
  color: var(--clr-medium-gray);
}

.logo {
  display: block;
  width: auto;
  height: 100%;
}

.hamburger-menu {
  display: none;
}

nav {
  flex-grow: 1;
  font-size: 0.9rem;
}

.main-links {
  display: flex;
  align-items: center;
  column-gap: 2.35rem;
}

.main-links li:nth-child(5) {
  margin-left: auto;
}

.main-links > li:not(:nth-child(3)) .link:hover,
.main-links > li:not(:nth-child(3)).link:hover {
  cursor: pointer;
  color: var(--clr-almost-black);
}

.main-links > li:last-child {
  border: 2px solid var(--clr-medium-gray);
  padding: 0.8rem 1.3rem;
  border-radius: 15px;
}

.main-links > li:last-child:hover {
  border: 2px solid var(--clr-almost-black);
}

.clicked {
  color: var(--clr-almost-black);
}

.features,
.company {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#features,
#company {
  position: relative;
}

.features-links {
  position: absolute;
  top: 240%;
  right: 0;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow: hidden;
  transition: height 1s ease, padding 1s ease;
  border-radius: 10px;
  height: 0;
  font-size: 0.9rem;
}

.item {
  display: flex;
  column-gap: 0.9rem;
}

.show-features {
  padding: 1.4rem 1.6rem;
  height: 10rem;
}

.company-links {
  position: absolute;
  top: 240%;
  left: 0;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
  height: 0;
  overflow: hidden;
  transition: height 1s ease, padding 1s ease;
  border-radius: 10px;
  font-size: 0.9rem;
}

.show-company {
  padding: 1.4rem 1.6rem;
  height: 8rem;
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
  }

  header {
    justify-content: space-between;
    padding: 1.2rem 1rem;
  }

  .hamburger-menu {
    all: unset;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 1;
  }

  .bar,
  .hamburger-menu::after,
  .hamburger-menu::before {
    width: 100%;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--clr-almost-black);
    border-radius: 20px;
    transition: 0.5s ease;
  }

  .hamburger-menu::before {
    top: 25%;
  }

  .hamburger-menu::after {
    top: 75%;
  }

  .menu-active .hamburger-menu::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .menu-active .hamburger-menu .bar {
    opacity: 0;
  }

  .menu-active .hamburger-menu::after {
    top: 50%;
    transform: rotate(-45deg);
  }

  header > nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: width 0.8s ease;
    font-size: 1.05rem;
  }

  .menu-active header > nav {
    width: 100vw;
  }

  nav {
    font-size: 1rem;
  }

  .features,
  .company {
    column-gap: 0.85rem;
  }

  .main-links {
    flex-direction: column;
    align-items: start;
    background-color: var(--clr-almost-white);
    padding: 5.15rem 1.4rem;
    row-gap: 1.5rem;
    min-width: 15rem;
  }

  .main-links li:nth-child(5) {
    font-size: 0.95rem;
    margin-top: 0.8rem;
    margin-left: 0;
    align-self: center;
  }

  .main-links > li:last-child {
    font-size: 0.95rem;
    margin-top: -0.4rem;
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
  }

  .features-links {
    background-color: transparent;
    position: static;
    margin: 0rem;
    transition: height 1s ease, margin 1s ease;
    border-radius: 0px;
    row-gap: 1.5rem;
    width: 100%;
  }

  .item {
    column-gap: 1rem;
    font-size: 1.1rem;
  }

  .item img {
    display: block;
    width: auto;
    height: 1.15rem;
  }

  .show-features {
    padding: 0rem;
    margin: 1.95rem 0rem 0rem 1.55rem;
    height: 9.5rem;
  }

  .company-links {
    background-color: transparent;
    position: static;
    margin: 0;
    border-radius: 0px;
    height: 0;
    transition: height 1s ease, margin 1s ease;
    font-size: 1.1rem;
    row-gap: 1.5rem;
  }

  .show-company {
    padding: 0rem;
    margin: 1.75rem 0rem 0rem 1.55rem;
    height: 6.8rem;
  }
}

main {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: 82%;
  margin-top: 2.7rem;
  padding-bottom: 7.6rem;
}

.hero-mobile {
  display: none;
}

.hero {
  flex: 1;
  order: 1;
  margin-bottom: 0.5rem;
}

.hero-desktop {
  display: block;
  width: 100%;
  height: auto;
}

.details {
  flex: 1.4;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 2rem;
}

.title {
  font-size: 4.95rem;
  max-width: 11ch;
  margin-bottom: 2.7rem;
}

.text {
  text-align: left;
  color: var(--clr-medium-gray);
  font-size: 1.13rem;
  line-height: 1.6;
  max-width: 45ch;
}

.more-btn {
  all: unset;
  box-sizing: border-box;
  padding: 1.25em 1.95rem;
  background-color: var(--clr-almost-black);
  color: var(--clr-almost-white);
  border-radius: 16px;
  margin-bottom: 6.55rem;
  margin-top: 3.1rem;
  letter-spacing: 1px;
  border: 1px solid var(--clr-almost-black);
  transition: 0.3s ease;
}

.more-btn:hover {
  color: var(--clr-almost-black);
  background-color: transparent;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    margin-inline: 0;
    width: auto;
    margin-top: 0.4rem;
  }

  .hero {
    order: 0;
  }

  .hero-mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero-desktop {
    display: none;
  }

  .details {
    align-self: center;
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0rem;
  }

  .title {
    font-size: 2.2rem;
    margin-inline: 1rem;
    text-align: center;
    max-width: 100%;
    margin-bottom: 0;
  }

  .text {
    margin: 1.1rem 1rem;
    text-align: center;
    font-size: 1rem;
  }

  .more-btn {
    margin-top: 0.55rem;
    padding: 1rem 1.3rem;
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }

  .clients {
    column-gap: 0.5rem;
    justify-content: space-around;
    column-gap: 1rem;
    width: 100%;
  }

  .clients > img {
    display: block;
    width: 15%;
    height: auto;
  }
}
